body {
}
#reorderable tr {
    cursor: move;
}
.tabs {
    margim-bottom: 1rem;
    text-decoration-line: none;
}
.tab-button {
    padding: 10px 20px;
    border: none;
    background: #efefef;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 6px;
}
.tab-button:hover{
    background-color: #ddd;
}
.tab-button.active{
    background-color: #0d6efd;
    color: white;
    font-weight: bold;
}

