@{
	ViewData["Title"] = "No encontrado.";
}
<h1 class="mb-2">La pagina buscada no se ha encontrado.</h1>
<a asp-controller="Home" asp-action="Index" class="btn btn-danger">Click aquí para ir al inicio</a>