@using BudgetManager.Web.Models.Account
@model AccountDeleteVM

@{
	ViewData["Title"] = "Borrar cuenta";
}

<h1>Esta seguro de que quiere borrar la cuenta <span class="text-danger">@Model.Id - @Model.Name </span>?</h1>

<form asp-action="DeleteConfirmed">
	<input type="hidden" asp-for="Id" />
	<button type="submit" class="btn btn-danger">Borrar</button>
	<a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>
